html/node_modules
data
background
object
target
dist
edfFile
img

main/node_modules
mi/node_modules
p300/node_modules
templates/node_modules
csns/node_modules
web-app
web-app/*
pyenv
node_modules
build
mainPage
web
web/*
assets
pyapp
test_data
attention-app
__pycache__
csns
report
apk
createScript

attention
attentionDir